@use "@/styles" as *;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#id,
.common-layout,
.el-container.is-vertical {
  height: 100%;
}

body {
  margin: 0;
  background-color: $very-light-gray;
}
