// COLORS
$success-color: #67c23a;
$error-color: #f44336;
$crimson-red: #ae232f;
$white: #fff;
$black: #000;
$blue: #409eff;
$blue-sapphire: #102d5e;

$lavender-gray: #a2a0a2;
$light-lavender-gray: #f3f2f5;

$very-light-gray: #f9f9f9;
$light-gray: #e6e6e8;
$medium-gray: #888;
$grey: #444050;
